@font-face {
  font-family: 'BobbyJones';
  src: url('../fonts/BobbyJonesCondensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modak';
  src: url('../fonts/Modak-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caprasimo';
  src: url('../fonts/Caprasimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
